* {
    font-family: 'Lato';
    font-size: medium;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
}